<!--The content below is only a placeholder and can be replaced.-->
<div style="display: flex; flex-direction: column; height: 100%;">
    <div style="text-align:center; flex: 1; border: 1px solid red;">
        <h1>
            Welcome to Stormtable Testing!
        </h1>
        <input [value]="input1" (input)="input1Changed($event.target.value)">
        <input [value]="input2" (input)="input2Changed($event.target.value)">
        <input [value]="input3" (input)="input3Changed($event.target.value)">
    </div>
    <div style="flex: 8; display: flex;">
        <div style="flex: 1; margin: 10px; padding: 10px; border: 1px solid red;">
            <!-- <div style="position: fixed; left: 100px; right: 100px; top: 100px; bottom: 100px; margin: 10px; padding: 10px; border: 1px solid red;"> -->
            <stormtable
                [options]="options"
                [source]="source">
            </stormtable>
        </div>
    </div>
</div>

